{% extends "layout.html" %}
{% block page_title %}Form{% endblock %}
{% block body %}
    {{ super() }}

    <hr>
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
              $('a#process_input').bind('click', function() {
                $.post('/form', {  
                  q: $('textarea[name="q"]').val(),
                }, function(data) {
                  $('#result').text(data.result);
                });
                return false;
              });
            });
        </script>

	<div class='container'>
		            <form>
 <textarea id="text_input" rows="20" cols="20" name=story></textarea><br>
 <a href=# id=process_input><button class='btn btn-default'>Submit</button></a>
			    </form><br><p><h2 align='center'>Result:</h2><pre id=result align='center'></pre></p></div><hr>

<h3>Upload File</h3><form method='post' action='/upload_file' enctype=multipart/form-data>
	<p><input type=file name=file>
	<input type=submit value=Upload>
	</form>

{% endblock %}
