{% extends "layout.html" %}
{% block page_title %}Private Page{% endblock %}
{% block body %}
    {{ super() }}

    <hr>
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
              $('a#process_input').bind('click', function() {
                $.post('/', {  
                  story: $('textarea[name="story"]').val(),
                }, function(data) {
                  $('#result').text(data.result);
                });
                return false;
              });
            });
        </script>


    <hr>

    {% if images %}
        <h3>Your Files</h3>
        <table class="table small">
            <thead>
                <tr>
                  <th>File ID</th>
                  <th>Timestamp</th>
                  <th>File Name</th>
                  <th>Action</th>
                </tr>
            </thead>
            {% for image_id, timestamp, image_name, act in images %}
                    <tr>
                       <td> {{ image_id }} </td>
                       <td> {{ timestamp }} </td>
                       <td> {{ image_name }} </td>
                    </tr>
                    
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}